form label {
    width: 45%;
    float: left;
    margin: 5px;
}

form select, #db_local {
    width: 50%;
    float: right;
    margin: 5px;
}

#evt_reload_select, #evt_reload_input{
    width: 24%;
    float: right;
    margin: 5px;
}

form fieldset {
    margin: auto;
    width: 50%;
    padding: 1% 5%;
}

#valider {
  margin: auto;
}
